<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>

        <!-- fav機能一旦実装 →Update2023/04/06 非同期通信化に伴い部分テンプレート化 -->
        <td>
          <div id="favorite_btn_<%= book.id %>">
            <%= render 'favorites/favorite', book: book %>
          </div>
        </td>
        <!-- fav機能一旦実装 -->

        <td>
          <p><%= link_to "コメント: #{book.post_comments.count}", book_path(book.id) %></p>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>